<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio - Brian Fortuna</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <style>
    .image-container {
      max-width: 350px;
      max-height: 350px;
      overflow: hidden;
      border: 3px solid #fff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    .image-container img {
      width: 100%;
      height: auto;
    }
    
    .justificado {
    text-align: justify;
    } 

    .horizontal-list {
      list-style: none;
      padding: 0;
      display: flex;
      align-items: center;
      margin-right: 10px;
      /* Añade estos estilos para que los elementos se muestren horizontalmente */
    }

    .horizontal-list li {
      margin-right: 40px; /* Espacio entre elementos */
    }
    
    .horizontal-list li i {
      font-size: 50px; /* Tamaño deseado para los iconos */
      color: #0d5b34; /* Cambia "red" al color que desees */
    }

    .horizontal-list li.with-space {
      margin-right: 10px; /* Espacio entre elementos con la clase "with-space" */
    }


  </style>
  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/static/vendor/devicons/css/devicons.min.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
          

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="https://scfotos.blob.core.windows.net/photos/Profile-Pic.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Brian Fortuna</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://www.linkedin.com/in/brianfortuna/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://www.instagram.com/brianfortuna_/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://twitter.com/bfortunadev" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/brian.fortuna.7" class="facebook"><i class="bx bxl-facebook"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#facts" class="nav-link scrollto"><i class="bx bx-library"></i> <span>Facts</span></a></li>
          <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-brain"></i> <span>Skills</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Brian Fortuna</h1>
      <p>I'm a <span class="typed" data-typed-items=" Data analyst., Developer., Freelancer., Youtuber."></span></p>
    </div> 
  </section><!-- End Hero -->

  <main id="main">
    <section id="aboutOne" class="aboutOne" style="background-color: #fff;" > 
      <div class="container">
    <div class="section-title">
      <h2>About</h2>
      <p class="justificado">Desarrollador centrado en abordar y solucionar
        problemas a través de un pensamiento lógico. Enfoco
        mis habilidades en el aprendizaje autodidacta y poseo
        una persistencia en la resolución de problemas.
        Además, mantengo una ética laboral sólida y soy capaz
        de trabajar en equipo, manteniendo una comunicación
        asertiva. Apasionado por la tecnología, lo cual me
        impulsa a buscar constantemente oportunidades para
        aprender y mejorar.</p>
      <br/>
      <p class="justificado">A lo largo de mi carrera universitaria, enfrenté a desafíos
        y obstáculos que me llevaron a esforzarme al máximo
        para superarlos. A pesar de las dificultades, mantuve un
        enfoque constante en aprender y mejorar. Gracias a los
        sacrificios y grandes esfuerzos realizados en el camino,
        fui nominado y premiado como estudiante meritorio en
        Mayo de 2022 por dedicación a la excelencia
        académica y compromiso.</p>
    </div>
  </div>
  </section>
    <!-- ======= About Section ======= -->
    <section id="about" class="about" style="background-color: #F5F8FD;">
      <div class="container">

        <div class="row" >
          <div class="col-lg-4" data-aos="fade-right">
            <div class="image-container">
              <img src="https://scfotos.blob.core.windows.net/photos/pic-brian.jpg" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left" >
            <br/>
            <br/>
            <h3>Professional in Python, C#, and SQL with a background in Data Analysis</h3>
            <p class="fst-italic">
              Apasionado por la programación y la creación de soluciones impactantes. El enfoque se basa en el uso de Python, C# y SQL para desarrollar experiencias digitales.</p>
              <br/>
              <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>bfortuna-portfolio.up.railway.app</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Santo Domingo, DO</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Computer Scientist</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>bfortuna.dev@gmail.com</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts" >
      <div class="container">

        <div class="section-title">
          <h2>Facts</h2>
          <p class="justificado"><strong>Facts</strong><br>
            Con pasión por la tecnología y un compromiso con la excelencia, he emprendido un viaje que me ha llevado a contribuir en más de 40 videos de YouTube. A través de estos videos, he tenido un impacto positivo en la vida de innumerables personas, fomentando un sentido de comunidad entre los desarrolladores. Estos videos se han convertido en un recurso valioso, impulsando un cambio positivo y progreso en nuestro mundo digital.
          </p>
        </div>
        
        <div class="row no-gutters">

          <div class="col-lg-5 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="44" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Más de cuarenta videos en YouTube.</strong> He subido más de cuarenta videos en YouTube, teniendo un impacto positivo en la vida de cientos de personas y contribuyendo a la comunidad de desarrolladores. Mi contenido ha sido un recurso valioso para la sociedad.</p>
            </div>
          </div>
        
          <div class="col-lg-7 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-laptop"></i>
              <span data-purecounter-start="0" data-purecounter-end="101" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Proyectos Desarrollados</strong><p>He contribuido a 101 proyectos diversos en diferentes dominios, demostrando experiencia en soluciones innovadoras. Desde aplicaciones web hasta soluciones de software, he aceptado desafíos y colaborado para dar vida a ideas significativas.</p></p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Facts Section -->
    
<!-- ======= Skills Section ======= -->
<section id="skills" class="about" style="background-color: #F5F8FD;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 pt-4 pt-lg-0 content" data-aos="fade-left">
        <div class="section-title">
          <h2>Skills</h2>
          <p>Como profesional comprometido, he desarrollado un conjunto diverso de habilidades para crear soluciones digitales impactantes. Mi trayectoria en tecnología me ha brindado la oportunidad de utilizar y adquirir experiencia en varios lenguajes de programación y herramientas. Esto me permite diseñar experiencias centradas en el usuario que realmente marcan la diferencia.</p>
        </div>
        <br/>
        <br/>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 pt-4 pt-lg-0 content" data-aos="fade-left">
        <ul class="horizontal-list">
          <li><i class="devicons devicons-python"></i></li>
          <li><i class="devicon-csharp-plain-wordmark"></i></li>
          <li><i class="devicon-xamarin-original"></i></li>
          <li><i class="devicon-microsoftsqlserver-plain"></i></li>
          <li><i class="devicon-sqlite-plain"></i></li>
          <li><i class="devicons devicons-postgresql"></i></li>
          <li><i class="devicons devicons-html5"></i></li>
          <li><i class="devicons devicons-css3"></i></li>
          <li><i class="devicons devicons-javascript"></i></li>
        </ul>
      </div>
    </div>
  </div>
</section><!-- End New Skills Section -->


    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Explora mi trayectoria, logros y habilidades que definen mi perfil profesional.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Brian Fortuna</h4>
              <p>Desarrollador centrado en abordar y solucionar
                problemas a través de un pensamiento lógico. Enfoco
                mis habilidades en el aprendizaje autodidacta y poseo
                una persistencia en la resolución de problemas.
                Además, mantengo una ética laboral sólida y soy capaz
                de trabajar en equipo, manteniendo una comunicación
                asertiva. Apasionado por la tecnología, lo cual me
                impulsa a buscar constantemente oportunidades para
                aprender y mejorar.</p>

              <p>A lo largo de mi carrera universitaria, enfrenté a desafíos
y obstáculos que me llevaron a esforzarme al máximo
para superarlos. A pesar de las dificultades, mantuve un
enfoque constante en aprender y mejorar. Gracias a los
sacrificios y grandes esfuerzos realizados en el camino,
fui nominado y premiado como estudiante meritorio en
Mayo de 2022 por dedicación a la excelencia
académica y compromiso.</p>
            </div>
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Técnico en Programación Informática</h4>
              <h5>2018 – 2019</h5>
              <p><em>Dominican Training Institute (ICD), Santo Domingo, DO</em></p>
            </div>
            <div class="resume-item">
              <h4>Ingeniero de Sistemas de Computación</h4>
              <h5>2020 – 2024</h5>
              <p><em>Universidad APEC, Santo Domingo, DO</em></p>
            </div>
            <h3 class="resume-title">Certifications</h3>
            <div class="resume-item">
              <h4>Master Python </h4>
              <h5>2023</h5>
              <p><em>Udemy Academy | 100 Days of Code: The Complete Python Pro Bootcamp for 2023</em></p>
            </div>
            <div class="resume-item">
              <h4>Administrador de Base de Datos en SQL Server 2019</h4>
              <h5>2023</h5>
              <p><em>Edutin Academy</em></p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <br/>
            <br/>
            <br/>
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Facilitador en el área de Programación Informática</h4>
              <h5>2019 – 2020</h5>
              <p><em>Dominican Training Institute (ICD), Santo Domingo, DO </em></p>
              <p>Durante el período de 2019 a 2020, me destacé en el marco de honor de
                mi sección de carrera técnica, lo que me brindó la valiosa oportunidad de
                convertirme en el primer estudiante en ser Facilitador en el área de
                Programación Informática en el Instituto de Capacitación Dominicano (ICD).
                Como facilitador planifique y desarrolle sesiones de capacitaciones, no
                solo en el mismo instituto, sino también en la Oficina Nacional de
                Meteorología (ONAMET), lo que a su vez me permitió mejorar mis
                habilidades comunicativas.</p>
            </div>
            <div class="resume-item">
              <h4>Desarrollador Web FreeLancer | Clientes Privados. </h4>
              <h5>2023 – 2024 </h5>
              <p>Desarrollo de sitios web abarcando áreas tales como el Backend – Frontend – Database. </p>
            </div>
            <div class="resume-item">
              <h4>Analista de datos junior (Pasante)</h4>
              <h5>2019 – 2020</h5>
              <p><em>Banco Popular, Santo Domingo, DO </em></p>
              <p>Analista de datos junior con experiencia en el seguimiento de indicadores clave de rendimiento (KPIs), análisis de la situación del negocio y búsqueda de soluciones basadas en datos. Durante mi tiempo en la institución, he aprendido de grandes científicos y analistas de datos a superar diferentes tipos de obstáculos y aprender de ellos, lo que me ha llevado a superar mis límites y pensar de manera innovadora.</p>
            </div>
            
            
          </div>
          
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg" style="background-color: #F5F8FD;">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Descubre una colección de proyectos que muestran mis habilidades y creatividad en diferentes áreas.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Python</li>
              <!--
              <li data-filter=".filter-app">Python</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
              -->
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://scfotos.blob.core.windows.net/photos/4-Portfolio.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="https://scfotos.blob.core.windows.net/photos/4-Portfolio.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Todo List Webiste"><i class="bx bx-plus"></i></a>        
                <a href="https://github.com/pythondev1998/100-Pro-Python-Bootcamp" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://scfotos.blob.core.windows.net/photos/5-Portfolio.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="https://scfotos.blob.core.windows.net/photos/5-Portfolio.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Santicollection Website"><i class="bx bx-plus"></i></a>        
                <a href="https://github.com/pythondev1998/100-Pro-Python-Bootcamp" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="https://scfotos.blob.core.windows.net/photos/3-Portfolio.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="https://scfotos.blob.core.windows.net/photos/3-Portfolio.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Portfolio Website"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/pythondev1998/100-Pro-Python-Bootcamp" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://scfotos.blob.core.windows.net/photos/1-Portfolio.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="https://scfotos.blob.core.windows.net/photos/1-Portfolio.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Ecommerce Website"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/pythondev1998/100-Pro-Python-Bootcamp" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="https://scfotos.blob.core.windows.net/photos/2-Portfolio.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="https://scfotos.blob.core.windows.net/photos/2-Portfolio.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Invaders Games"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/pythondev1998/100-Pro-Python-Bootcamp" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->


    <section id="testimonials" class="testimonials section-bg" style="background-color: #F5F8FD;">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Testimonios que trascienden mi camino profesional y académico: Dedicación y calidad respaldadas por quienes han sido testigos de mi crecimiento.</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">


            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Para mí, Brian es un diamante en bruto: brillante, estudioso y de pocas palabras, pero con una sonrisa que refleja una persona empática y amable. Le deseo todo lo mejor en su carrera profesional y, sobre todo, que siga poniendo a Dios en primer lugar en su vida. Estoy seguro de que alcanzará el éxito en todo lo que se proponga.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="https://scfotos.blob.core.windows.net/photos/AntonioPic.jpg" class="testimonial-img" alt="">
                <h3>Antonio De León Guzmán</h3>
                <h4>IT Engineer &amp; Educator </h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Desde que le impartí clases a Brian, me pude percatar de que es una persona muy curiosa y aplicada, se enfoca en un punto y hasta que no lo logra no cambia su norte. Llegó a ser fuente de inspiración de otros estudiantes y tiene esas características necesarias para ser un buen lider.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="https://scfotos.blob.core.windows.net/photos/GabrielPic.jpg" class="testimonial-img" alt="">

                <h3>Gabriel Veras-Ditren</h3>
                <h4>Gamisoft CTO</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Como profesor de Ingeniería en Sistemas, destaco a Brian, comprometido con excelencia y responsabilidad. Su integridad y dedicación son ejemplares; siempre da la milla extra. Su respeto por otros refleja valores perdidos en su generación. Con su talento, el mundo se inclinará ante él, conquistando sueños sin límites.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="https://scfotos.blob.core.windows.net/photos/EddyPic.jpg" class="testimonial-img" alt="">
                <h3>Eddy G. Alcántara Solano </h3>
                <h4>Telecommunication Engineering &amp; Management</h4>
              </div>
             
            </div><!-- End testimonial item -->
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Si tienes alguna pregunta o consulta, no dudes en ponerte en contacto conmigo utilizando el formulario que se encuentra a continuación. ¡Estoy aquí para ayudarte!</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Santo Domingo, DO, 10014</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>bfortuna.dev@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-linkedin"></i>
                <h4>Linkedin:</h4>
                <p>brianfortuna</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d483815.5704815687!2d-70.03310346634521!3d18.672558562731886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sdo!4v1695155594981!5m2!1sen!2sdo" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="{{ url_for('send_email') }}" method="post" class="php-email-form">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name">Your Name</label>
                        <input type="text" name="fullname" class="form-control" id="name" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="name">Your Email</label>
                        <input type="email" class="form-control" name="email" id="email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Subject</label>
                    <input type="text" class="form-control" name="subject" id="subject" required>
                </div>
                <div class="form-group">
                    <label for="name">Message</label>
                    <textarea class="form-control" name="message" rows="10" required></textarea>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              <div id="message-container" class="my-3 d-flex flex-column align-items-center">
                <div class="loading" id="loading-icon">Loading</div>
                <div class="error-message centered"></div>
                <div class="success-message centered"></div>
              </div>
            </form>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="credits">
        Designed by Brian Fortuna</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/vendor/aos/aos.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor/typed.js/typed.umd.js"></script>
  <script src="/static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  <script>
    $(document).ready(function() {
        // Capturar el evento de envío del formulario
        $("form").submit(function(event) {
            event.preventDefault(); // Evitar que se envíe el formulario de manera predeterminada
    
            // Ocultar mensajes anteriores
            $(".error-message").empty();
            $(".success-message").empty();
    
            // Mostrar mensaje de carga
            $("#loading-icon").show();
    
            // Realizar la solicitud POST utilizando jQuery.ajax()
            $.ajax({
                type: "POST",
                url: "/send_email",
                data: $(this).serialize(), // Serializar los datos del formulario
                success: function(response) {
                    // Ocultar mensaje de carga
                    $(".loading").empty();
    
                    // Mostrar mensaje de éxito o error si es necesario
                    if (response.success) {
                        $(".success-message").text(response.message);
                        setTimeout(function() {
                            $(".success-message").empty();
                            location.reload(); // Recargar la página después de 2 segundos
                        }, 5000); // Mostrar mensaje durante 2 segundos
                    } else {
                        $(".error-message").text(response.message);
                    }
                },
                error: function() {
                    // Ocultar mensaje de carga
                    $(".loading").empty();
    
                    $(".error-message").text("An error occurred. Please try again later.");
                }
            });
        });
    });
    </script>
    
</body>
</html>