<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio - Brian Fortuna</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <style>
    .image-container {
      max-width: 350px;
      max-height: 350px;
      overflow: hidden;
      border: 3px solid #fff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    .image-container img {
      width: 100%;
      height: auto;
    }
    
  </style>
  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/static/img/unnamed-profile.png" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Brian Fortuna</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://twitter.com/bfortunadev" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/brian.fortuna.7" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/brianfortuna_/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://www.linkedin.com/in/brian-fortuna-370955248/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Brian Fortuna</h1>
      <p>I'm <span class="typed" data-typed-items="Developer, Freelancer, Youtuber"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <section id="aboutOne" class="aboutOne" style="background-color: #fff;" > 
      <div class="container">
    <div class="section-title">
      <h2>About</h2>
      <p>Distinguished student who has showcased exceptional aptitude in the field of technology. Throughout the period from 2019 to 2020, he became the first Computer Programming Facilitator at the Dominican Training Institute (ICD), owing to his outstanding academic performance and passion for knowledge sharing. He planned and conducted training sessions, displaying leadership skills and effective communication that left a significant impact on ICD, serving as an inspiration to other students interested in teaching and professional growth.</p>
      <br/>
      <p>During his university journey, he maintained a 4.00 GPA for nearly three years and was nominated as a meritorious student, receiving the award in May 2022 for his consistent dedication to academic excellence and commitment to education. Additionally, Brian possesses expertise in programming languages such as Python and C#, along with experience in Xamarin Forms and relational databases, making him a versatile professional well-equipped to tackle challenges in the realm of information technology. His fusion of academic accomplishments and technical skills promises a bright future in his career and a substantial contribution to software development and technological innovation.</p>
    </div>
  </div>
  </section>
    <!-- ======= About Section ======= -->
    <section id="about" class="about" style="background-color: #F5F8FD;">
      <div class="container">

        <div class="row" >
          <div class="col-lg-4" data-aos="fade-right">
            <div class="image-container">
              <img src="/static/img/unnamed2.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left" >
            <br/>
            <br/>
            <h3>Pro Expert in Python, C#, and SQL</h3>
            <p class="fst-italic">
              Passionate about programming and crafting impactful solutions. My approach blends a strong mastery of Python, C#, and SQL to create exceptional digital experiences.            </p>
              <br/>
              <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>19 November 1998</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+1 829 721 6016</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>San Cristobal, DO</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>24</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Computer Scientist</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>PhEmailone:</strong> <span>bfortuna.dev@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts" >
      <div class="container">

        <div class="section-title">
          <h2>Facts</h2>
          <p><strong>Facts</strong><br>
            With a passion for technology and a commitment to excellence, I've embarked on a journey that's led me to contribute to over 40 YouTube videos. Through these videos, I've made a positive impact on the lives of countless individuals, fostering a sense of community among developers. These videos have become a valuable resource, driving positive change and progress in our digital world.
          </p>
        </div>
        
        <div class="row no-gutters">

          <div class="col-lg-5 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="44" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Over Forty YouTube Videos</strong> I've uploaded over forty videos on YouTube, making a positive impact on the lives of hundreds and contributing to the developer community. My content has been a valuable resource for society.</p>
            </div>
          </div>
        
          <div class="col-lg-7 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-laptop"></i>
              <span data-purecounter-start="0" data-purecounter-end="101" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Developed Projects</strong><p>Contributed to 101 diverse projects across various domains, showcasing expertise in innovative solutions. From web applications to software solutions, I've embraced challenges and collaborated to bring meaningful ideas to life.</p></p>
            </div>
          </div>
        
        </div>
        

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>As a dedicated professional, I've honed a diverse set of skills to create impactful digital solutions. My journey in technology has empowered me to master various programming languages and tools, enabling me to craft user-centered experiences that truly make a difference.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">PYTHON <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">C# <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Xamarin Forms <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">SQL Server <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">HTML <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">65%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Explore my journey, accomplishments, and skills that define my professional profile.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Brian Fortuna</h4>
              <p><em>Accomplished technology enthusiast who became the first Computer Programming Facilitator at ICD due to outstanding performance and a passion for knowledge sharing. Proficient in Python, C#, Xamarin Forms, and SQL, poised to excel in the technology field. Recognized as a Meritorious Student at Universidad APEC.</em></p>
              <ul>
                <li>San Cristobal, DO, 91000</li>
                <li>+1 829 721 6016</li>
                <li>bfortuna.dev@gmail.com</li>
              </ul>
            </div>
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Computer Programming Technician</h4>
              <h5>2018 – 2019</h5>
              <p><em>Dominican Training Institute (ICD), Santo Domingo, DO</em></p>
            </div>
            <div class="resume-item">
              <h4>Student | Computer Systems Engineering</h4>
              <h5>2020 – Present</h5>
              <p><em>Universidad APEC, Santo Domingo, DO</em></p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <br/>
            <br/>
            <br/>
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Facilitator in Computer Programming</h4>
              <h5>2019 – 2020</h5>
              <p><em>Dominican Training Institute (ICD), Santo Domingo, DO </em></p>
              <p>During the period of 2019 to 2020, Brian stood out as the first student to become a Facilitator in Computer Programming at the Dominican Training Institute (ICD). His exceptional academic performance and passion for knowledge sharing earned him this achievement. As a Facilitator, he meticulously planned and executed training sessions, demonstrating leadership skills and effective communication with students and colleagues. His commitment to education left a significant mark at ICD, serving as an inspiration to other students interested in teaching and professional growth.</p>
            </div>
          </div>
          
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg" style="background-color: #F5F8FD;">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Discover a collection of projects that showcase my skills and creativity across different domains.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Python</li>
              <!--
              <li data-filter=".filter-app">Python</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
              -->
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/static/img/portfolio/1-Portafolio.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="/static/img/portfolio/1-Portafolio.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/pythondev1998/100-Pro-Python-Bootcamp" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/static/img/portfolio/2-Portafolio.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="/static/img/portfolio/2-Portafolio.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/pythondev1998/100-Pro-Python-Bootcamp" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/static/img/portfolio/3-Portafolio.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="/static/img/portfolio/3-Portafolio.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/pythondev1998/100-Pro-Python-Bootcamp" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/static/img/portfolio/4-Portafolio.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="/static/img/portfolio/4-Portafolio.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/pythondev1998/100-Pro-Python-Bootcamp" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>Explore our Services section, where we prioritize our expertise in Python-powered web application development. From crafting dynamic web solutions using HTML, CSS, and JavaScript, to creating intuitive mobile apps for iOS and Android using technologies like Xamarin Forms. Lastly, we offer tailored desktop applications with languages like C#. Discover our diverse offerings and experience excellence in software development.</p>
          <br/>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-laptop-fill"></i></div>
            <h4 class="title"><a href="">Web Application Development</a></h4>
            <p class="description">Creating interactive software for web browsers using HTML, CSS, and JavaScript. Utilizing frameworks like Flask, Django, and tools such as Selenium and Beautiful Soup for advanced features.</p>
          </div>
          <div class="col-lg-6 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-phone-fill"></i></div>
            <h4 class="title"><a href="">Mobile Application Development</a></h4>
            <p class="description">Building apps for smartphones and tablets on platforms like iOS and Android. Employing technologies like Xamarin Forms for cross-platform development and ASP.NET for server-side integration.</p>
          </div>
          <div class="col-lg-6 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-pc-display "></i></div>
            <h4 class="title"><a href="">Desktop Application Development</a></h4>
            <p class="description">Crafting software for computers using languages like C# or Python, tailored to user needs. Using frameworks like Windows Forms and technologies such as SQLite, PostgreSQL, and Microsoft SQL Server for enhanced functionality.</p>
          </div>
          <div class="col-lg-6 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-book-fill"></i></div>
            <h4 class="title"><a href="">Teaching/Education</a></h4>
            <p class="description">Sharing programming knowledge and skills with others through courses, workshops, or tutorials.</p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg" style="background-color: #F5F8FD;">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="/static/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div><!-- End testimonial item -->
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>If you have any questions or inquiries, feel free to get in touch with me using the form below. I'm here to help!</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>San Cristobal, DO, 91000</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>bfortuna.dev@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 829 721 6016</p>
              </div>

              <iframe src="https://goo.gl/maps/B511WeqxZZAD4pNn9" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="{{ url_for('send_email') }}" method="post" class="php-email-form">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name">Your Name</label>
                        <input type="text" name="fullname" class="form-control" id="name" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="name">Your Email</label>
                        <input type="email" class="form-control" name="email" id="email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Subject</label>
                    <input type="text" class="form-control" name="subject" id="subject" required>
                </div>
                <div class="form-group">
                    <label for="name">Message</label>
                    <textarea class="form-control" name="message" rows="10" required></textarea>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              <div id="message-container" class="my-3 d-flex flex-column align-items-center">
                <div class="loading" id="loading-icon">Loading</div>
                <div class="error-message centered"></div>
                <div class="success-message centered"></div>
              </div>
            </form>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="credits">
        Designed by Brian Fortuna</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/vendor/aos/aos.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor/typed.js/typed.umd.js"></script>
  <script src="/static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
        // Capturar el evento de envío del formulario
        $("form").submit(function(event) {
            event.preventDefault(); // Evitar que se envíe el formulario de manera predeterminada
    
            // Ocultar mensajes anteriores
            $(".error-message").empty();
            $(".success-message").empty();
    
            // Mostrar mensaje de carga
            $("#loading-icon").show();
    
            // Realizar la solicitud POST utilizando jQuery.ajax()
            $.ajax({
                type: "POST",
                url: "/send_email",
                data: $(this).serialize(), // Serializar los datos del formulario
                success: function(response) {
                    // Ocultar mensaje de carga
                    $(".loading").empty();
    
                    // Mostrar mensaje de éxito o error si es necesario
                    if (response.success) {
                        $(".success-message").text(response.message);
                        setTimeout(function() {
                            $(".success-message").empty();
                            location.reload(); // Recargar la página después de 2 segundos
                        }, 5000); // Mostrar mensaje durante 2 segundos
                    } else {
                        $(".error-message").text(response.message);
                    }
                },
                error: function() {
                    // Ocultar mensaje de carga
                    $(".loading").empty();
    
                    $(".error-message").text("An error occurred. Please try again later.");
                }
            });
        });
    });
    </script>
    
</body>
</html>